<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
https://docs.nativescript.org/angular/ui/professional-ui-components/ng-SideDrawer/getting-started
-->
<RadSideDrawer [drawerTransition]="sideDrawerTransition">
    <GridLayout tkDrawerContent rows="auto, *" class="nt-drawer__content">
        <StackLayout row="0" class="nt-drawer__header">
            <Image class="nt-drawer__header-image fas t-36" src="font://&#xf1ad;"></Image>
            <Label class="nt-drawer__header-brand" text="Paula"></Label>
            <Label class="nt-drawer__header-footnote" text="paulamaz55@gmail.com"></Label>
        </StackLayout>

        <ScrollView row="1" class="nt-drawer__body">
            <StackLayout>
                <GridLayout columns="auto, *" class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/home')" (tap)="onNavItemTap('/home')">
                    <Label col="0" text="&#xf004;" class="nt-icon fas"></Label>
                    <Label col="1" text="Quienes Somos" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/tipohabitacion')" (tap)="onNavItemTap('/tipohabitacion')">
                    <Label col="0" text="&#xf1ea;" class="nt-icon far"></Label>
                    <Label col="1" text="Tipos de habitación" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/camara')" (tap)="onNavItemTap('/camara')">
                    <Label col="0" text="&#xf083;" class="nt-icon fas"></Label>
                    <Label col="1" text="Cámara" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/featured')" (tap)="onNavItemTap('/featured')">
                    <Label col="0" text="&#xf0eb;" class="nt-icon fas"></Label>
                    <Label col="1" text="Manejo Luces" class="p-r-10"></Label>
                </GridLayout>

                <StackLayout class="hr"></StackLayout>

                <GridLayout columns="auto, *" class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/settings')" (tap)="onNavItemTap('/settings')">
                    <Label col="0" text="&#xf2cd;" class="nt-icon fas"></Label>
                    <Label col="1" text="Control RFID" class="p-r-10"></Label>
                </GridLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>

    <page-router-outlet tkMainContent></page-router-outlet>
</RadSideDrawer>