.my-button {
    android-elevation: 4;
    background-color: rgb(137, 168, 214);
    border-color: rgb(5, 11, 43);
    border-radius: 20;
    border-width: 1;
    color: whitesmoke;
    font-size: 14;
    font-weight: bold;
}

.my-button:active {
    android-elevation: 8;
    background-color: whitesmoke;
    border-color:  rgb(47, 80, 107);
    border-radius: 20;
    border-width: 1;
    color: rgb(32, 178, 170);
    font-size: 14;
    font-weight: bold;
}